body{
    background-color: rgb(146, 204, 79);
    font-size: 18px;
}

section {
    float: none;
}
button{
    border-radius: 10px;
    height: 60px;
    width: 120;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-left: 45vw;
    box-sizing: border-box; 
}
h1{
    text-align: center;
}